#title{
  background-color: #ff4c68;
  color: #fff;
}
body {
  font-family: "Montserrat";
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 800;
  color: #fff;
}
h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat";
  font-weight: bold;
}
p {
  color: #8f8f8f;
  font-weight: 500;
}
.container-fluid {
  padding:3% 15%;
  height: 42rem;
}
.container-first{
  height: 35rem;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: normal;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.download-btn {
  margin: 5% 3% 5% 0;
}
.title-img {
  width: 60%;
  /* height: 90%; */
  transform:rotate(25deg);
  /* padding-left: 4rem; */
  position: relative;
  left: auto;
}
/* Features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4368;
}
/* Testimonials */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}
.testimonial-img {
  border-radius: 100%;
  width:10%;
}
.carousel-item {
  padding: 7% 15%;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-img {
  width:15%;
  margin: 20px 20px 50px;
}
/* .carousel-control-prev {
  position: relative;
}
.carousel-control-next {
  position: relative;
} */
#pricing {
  text-align: center;
  padding: 100px;
}
.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 100px 15% 40px;
}
#footer {
  background-color: #fff;
  text-align: center;
  padding: 100px 15% 20%;
}
.spanSpace {
  padding-left: 25px;
  padding-right: 25px;
}
.social {
  padding-bottom: 5%;
}
